<div class="filters">
  <input type="text" placeholder="Search by name or email" [(ngModel)]="searchTerm" (input)="applyFilters()">
  <input type="number" placeholder="Filter by age" [(ngModel)]="filterAge" (input)="applyFilters()">
</div>
<div class="employee-list">
  <h2>Employee List</h2>

  <div *ngIf="loading" class="spinner-container">
    <div class="spinner"></div>
    <p class="loading-text">Loading</p>
  </div>
  <div *ngIf="errorMessage" class="error">{{errorMessage}}</div>

  <table *ngIf="!loading && !errorMessage">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Contact</th>
        <th>Profession</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of filteredEmployees">
        <td>{{ emp.firstName }} {{ emp.lastName }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.age }}</td>
        <td>{{ emp.contactNumber }}</td>
        <td>{{ emp.profession }}</td>
      </tr>
    </tbody>
  </table>
</div>